%div.row
  %div.span12
    %h2 About Sol
    %p
      Sol is in early stages of development, you should check the 
      %a{:href => "http://github.com/Udot"} github
      page of Udot to check the module that are already published.