%div.row
  %div.span12
    %h2 Contact us
    %p
      If you have questions or requests, check our
      %a{:href => "http://github.com/Udot"} github
      page of Udot first, then our
      %a{:href => "http://udot.tenderapp.com/"} tendeapp support
      page. You can also drop us a mail at
      %a{:href => "mailto:contact@udot.at"} contact@udot.at