%div.row
  %div.span12
    %h2 Contact us
    %p
      If you have questions, requests check the
      %a{:href => "http://github.com/Udot"} github
      page of Udot first, then the
      %a{:href => "http://udot.tenderapp.com/"} tender
      page. You can also drop us a mail at
      %a{:href => "mailto:contact@udot.at"} contact@udot.at