%div.row
  %div.span2.columns
    %h1.banner Sol
  %div.span9.offset1.columns
    %h2.subbanner a modular Ruby apps hosting platform

%div.row
  %div.span12
    %p
      %strong Sol
      is designed to be a manageable, modular, hosting platform for Ruby apps. It provides a web interface to create, scale, and monitor your Ruby apps, a git entry point to push your code, a chef repository to handle server bootstrapping and configuration management, ruby app packaging and deployment, and a centralised logging service.
    %p
      The main idea is that, sometimes,
      %em PaaS
      is not the tool for your needs. Sometimes you need tighter control of the data, or cost, or you have some servers idling in a bay, ... The truth is, setting up and managing a hosting environment is a lot of work.  But when you do have the knowledge and requirements to do so, then it's handy to have empowering tools.
    %p
      %strong Sol
      is in an early stage of development and testing. Yet, some modules have already been published on the
      %a{:href => "http://github.com/Udot"} github
      project page. More will be released as development, testing and deployment continue.

%div.row
  %div.span6
    %h2 Chef
    %p
      %a{:href => "http://www.opscode.com/chef/"} Chef
      is one of two big integration frameworks written in Ruby. It is a handy tool to setup and manage sets of servers. Thus, it is a
      %em defacto
      requisite for a proper hosting platform.
    %h2 OpenSource
    %p We believe FOSS is the way to build secure, sustainable, and innovative tools. That's why the entire platform will be released under open source licenses (MIT, GPL, or Apache depending on the modules).

    %h2 Decentralized
    %p
      A big node is easy to crash, that's why
      %strong Sol
      is composed of small modules which may be hosted on different servers. Each module performs one task then passes control to the next. This also ensures easier code review, maintenance and evolution.

  %div.span6
    %h2 Linux
    %p Debian GNU/Linux is one of the most stable open source OS platforms available. Although it has been chosen as the primary platform for the architecture, support for more GNU/Linux or BSD distributions will be encouraged.  

    %h2 U
    %p
      The cloud brings flexibility and ease to app deployment, yet we think this should not come with greater risk to data belonging to you and your clients. That's why Sol uses cloud infrastructure (
      %em only RackSpace at the moment
      ), but only for the hosting environment. The other componenets (database, cache, webservers, load balancers, ...) are provided by the
      %strong Sol platform.
      In this age of devops and polyglot developers, we think that we can take the time to manage properly our platform. That way, you remain in control.


%div.row
  %div.span12
    %h2 Built on
    %p
      %strong Sol
      is built using : Ruby, Sinatra, Redis, Syslog, Debian GNU/Linux, PostgreSQL, Git, RackSpace.
  %div.span12
    %h2 Info
    %ul
      %li Status : very early stages. Only part of the platform has been published.
      %li
        Code : on
        %a{:href => "http://github.com/Udot"} github
      %li
        Support : on
        %a{:href => "http://udot.tenderapp.com/"} tender